headtabs td, #tabs td {
  padding: 5px 50px; }
  headtabs td a, #tabs td a {
    text-decoration: none;
    color: black;
    opacity: .7;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease; }
    headtabs td a:hover, #tabs td a:hover {
      opacity: 1.0; }

#form {
  position: absolute;
  padding: 25px; }
  #form td {
    padding: 5px 10px; }
