headtabs, #pages {
  overflow: hidden; }
  headtabs a, #pages a {
    padding: 5px 95px 5px 5px;
    text-decoration: none;
    color: black;
    opacity: .7;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease; }
    headtabs a:last-child, #pages a:last-child {
      padding: 5px; }
    headtabs a:hover, #pages a:hover {
      opacity: 1.0; }

.menu-tabs {
  display: none;
  background-color: white;
  position: absolute;
  z-index: 10;
  border: black 1px solid; }
  .menu-tabs a {
    display: block;
    width: 100%;
    margin: 5px 5px;
    padding: 5px 5px; }

#menu {
  position: relative;
  float: left;
  z-index: 1; }
  #menu:hover .menu-tabs {
    display: block; }
