headtabs, #pages {
  width: 800px;
  display: inline-block; }
  headtabs a, headtabs p, #pages a, #pages p {
    padding: 5px 95px 5px 5px;
    text-decoration: none;
    color: black;
    opacity: .7;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease; }
    headtabs a:last-child, headtabs p:last-child, #pages a:last-child, #pages p:last-child {
      padding: 5px; }
    headtabs a:hover, headtabs p:hover, #pages a:hover, #pages p:hover {
      opacity: 1.0; }

.menu-tabs {
  display: none;
  position: absolute;
  border: black 1px solid; }
  .menu-tabs li {
    list-style: none; }

#menu {
  display: inline-block;
  width: 100px;
  z-index: 1; }
  #menu:hover .menu-tabs {
    display: block; }

#header {
  margin: 0px 50px; }
  #header h1 {
    padding: 5px;
    margin-bottom: 0px; }

.filters {
  float: left;
  margin: 25px 25px;
  height: 100%; }
  .filters p {
    padding: 5px 10px;
    margin: 0px; }

.main {
  margin: 15px 15px;
  overflow: hidden; }
  .main h1 {
    margin: 0px;
    width: 50px; }

.data {
  float: left;
  border-collapse: collapse;
  margin: 15px 5px; }
  .data tr {
    background-color: transparent;
    cursor: pointer; }
    .data tr:first-child {
      border-bottom: solid 1px #858585; }
    .data tr:hover td {
      background-color: #f5f5f5; }
    .data tr td {
      padding: 5px 25px; }
  .data .total {
    border-top: solid 1px #858585; }
    .data .total:hover td {
      background-color: transparent; }
