headtabs td {
  padding: 5px 50px; }
  headtabs td a {
    text-decoration: none;
    color: black;
    opacity: .7;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease; }
    headtabs td a:hover {
      opacity: 1.0; }

.filters span {
  padding: 5px 10px; }

.data {
  padding: 25px; }
  .data td {
    padding: 5px 50px; }
