<form id="emp" name="emp" action="/api/emps" method="post">
	<table>
		<tbody>
			<tr>
				<td>Employee Name: </td>
				<td><input type="text" name="EMP_NAME" ng-model="select.EMP_NAME" required></td>
				<td ng-show="emp.EMP_NAME.$touched && emp.EMP_NAME.$invalid">Name required.</td>
			</tr>
			<tr>
				<td>Password: </td>
				<td><input type="password" name="password" minlength="8" required></td>
			</tr>
			<tr>
				<td>Employee Phone: </td>
				<td><input type="text" name="EMP_PHONE"></td>
			</tr>
			<tr>
				<td>Employee Email: </td>
				<td><input type="email" name="EMP_EMAIL"></td>
			</tr>
		</tbody>
	</table>
    <input type="submit" value="Submit">
</form>