<form id="emp" action="/api/emps" method="post">
    Employee Name: <input type="text" name="EMP_NAME"><br>
    Employee Phone: <input type="text" name="EMP_PHONE"><br>
    Employee Email: <input type="text" name="EMP_EMAIL"><br>
    <input type="submit" value="Submit">
</form>