<form id="job" action="/api/jobs" method="post">
	<table>
		<tbody>
			<tr>
				<td>Job Number: </td>
				<td><input type="text" name="JOB_NUMBER"></td>
			</tr>
			<tr>
				<td>Job Name: </td>
				<td><input type="text" name="JOB_NAME"></td>
			</tr>
			<tr>
				<td>Street Address: </td>
				<td><input type="text" name="JOB_ADDRESS"></td>
			</tr>
			<tr>
				<td>City: </td>
				<td><input type="text" name="JOB_CITY"></td>
			</tr>
			<tr>
				<td>State: </td>
				<td><input type="text" name="JOB_STATE"></td>
			</tr>
			<tr>
				<td>Customer Name: </td>
				<td><input type="text" name="CUSTOMER_NAME"></td>
			</tr>
			<tr>
				<td>Customer Phone: </td>
				<td><input type="text" name="CUSTOMER_PHONE"></td>
			</tr>
			<tr>
				<td>Customer Email: </td>
				<td><input type="text" name="CUSTOMER_EMAIL"></td>
			</tr>
		</tbody>
	</table>
    <input type="submit" value="Submit">
</form>