<form id="travel" action="/api/travel" method="post">
	<table>
		<tbody>
			<tr>
				<td>Job Start: </td>
				<td><select ng-options="job._id as job.JOB_NUMBER for job in jobs" ng-model="select.JOB_ID_START"></select></td>
			</tr>
			<tr>
				<td>Job End: </td>
				<td><select ng-options="job._id as job.JOB_NUMBER for job in jobs" ng-model="select.JOB_ID_END"></select></td>
			</tr>
			<tr>
				<td>Location Start: </td>
				<td><input type="text" name="LOC_START"></td>
			</tr>
			<tr>
				<td>Location End: </td>
				<td><input type="text" name="LOC_END"></td>
			</tr>
			<tr>
				<td>Employee: </td>
				<td><select ng-options="emp._id as emp.EMP_NAME for emp in emps" ng-model="select.EMP_ID"></select></td>
			</tr>
			<tr>
				<td>Vehicle: </td>
				<td><select ng-options="vehicle._id as vehicle.VEHICLE_NAME for vehicle in vehicles" name="VEHICLE" ng-model="select.VEHICLE"></select></td>
			</tr>
			<tr>
				<td>Start Time: </td>
				<td><input type="time" name="TIME_START" ng-model="select.TIME_START"></td>
			</tr>
			<tr>
				<td>Stop Time: </td>
				<td><input type="time" name="TIME_END" ng-model="select.TIME_END"></td>
			</tr>
		</tbody>
	</table>
    <input type="submit" value="Submit">
</form>
<form ng-submit="testDistance()">
	start: <input type="text" name="start" ng-model="select.origins">
	start: <input type="text" name="end" ng-model="select.destinations">
	<input type="submit" value="go">
</form>