<!DOCTYPE html>
<html>
    <head>
        <title>Sound Sport Surfaces</title>

        <link rel="stylesheet" type="text/css" href="/public/css/dashboard.css">

        <script type="text/javascript" src="/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
    </head>
    <body ng-app="Database" ng-Controller="DashboardController">
        <headtabs></headtabs>
        <table id="tabs">
            <tbody>
                <tr>
                    <td ng-repeat="tab in tabs"><a ng-href="{{ tab.url }}">Add {{ tab.name }}</a></td>
                </tr>
            </tbody>
        </table>

        <div ng-view id="form"></div>
        
        <!-- application -->
        <script type="text/javascript" src="/public/js/Database.js"></script>

        <!-- config -->
        <script type="text/javascript" src="/public/js/config/route.client.config.js"></script>

        <!-- services -->
        <script type="text/javascript" src="/public/js/services/job.service.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="/public/js/controllers/dashboard.client.controllers.js"></script>

        <!-- directives -->
        <script type="text/javascript" src="/public/js/directives/headtabs.client.directives.js"></script>
    </body>
</html>
