<!DOCTYPE html>
<html>
    <head>
        <title>Sound Sport Surfaces</title>
        <script type="text/javascript" src="/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
    </head>
    <body ng-app="Database" ng-Controller="DashboardController">
        <table id="tabs">
            <tbody>
                <tr>
                    <td ng-repeat="tab in tabs"><a ng-href="{{ tab.url }}">Add {{ tab.name }}</a></td>
                </tr>
            </tbody>
        </table>
        <div ng-view></div>
        
        
        
        <!-- <form id="work" action="/api/work" method="post">
            Work Name: <input type="text" name="WORK_NAME" ng-model="select.WORK_NAME"><br>
            <input type="submit" value="Submit">
        </form>
        <form id="trade" ng-submit="tradeSubmit()" method="post">
            Trade Name: <input type="text" name="TRADE_NAME" ng-model="select.TRADE_NAME"><br>
            Works: <select ng-options="work._id as work.WORK_NAME for work in works" ng-model="select.WORKS" multiple>
            <input type="submit" value="Submit">
        </form>
        <button type="button" ng-click="console.log(select.WORKS);">post WORKS</button> -->

        <!-- application -->
        <script type="text/javascript" src="/public/js/Database.js"></script>

        <!-- config -->
        <script type="text/javascript" src="/public/js/config/route.client.config.js"></script>

        <!-- services -->
        <script type="text/javascript" src="/public/js/services/job.service.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="/public/js/controllers/dashboard.client.controllers.js"></script>
    </body>
</html>
