<!DOCTYPE html>
<html>
    <head>
        <title>Sound Sport Surfaces</title>

        <link rel="stylesheet" type="text/css" href="/public/css/dashboard.css">
        <link rel="stylesheet" type="text/css" href="/lib/flatpickr/dist/flatpickr.css">

        <script type="text/javascript" src="/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/lib/angular-messages/angular-messages.min.js"></script>

        <script type="text/javascript" src="/lib/flatpickr/dist/flatpickr.js"></script>
        <script type="text/javascript" src="/lib/moment/moment.js"></script>
    </head>
    <body ng-app="Database" ng-Controller="DashboardController">
        <div id="header">
            <h1>Sound Sport Surfaces</h1>
            <headtabs></headtabs>
        </div>
<!--        <table id="tabs">
            <tbody>
                <tr ng-repeat="tab in tabs">
                    <td><a ng-href="/dashboard{{ tab.url }}">{{ tab.name }}</a></td>
                </tr>
            </tbody>
        </table>
-->
        <div ng-view id="form"></div>
        
        <!-- application -->
        <script type="text/javascript" src="/public/js/Services.js"></script>
        <script type="text/javascript" src="/public/js/Database.js"></script>

        <!-- config -->
        <script type="text/javascript" src="/public/js/config/route.client.config.js"></script>

        <!-- services -->
        <script type="text/javascript" src="/public/js/services/job.service.js"></script>
        <script type="text/javascript" src="/public/js/services/geo.service.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="/public/js/controllers/dashboard.client.controllers.js"></script>

        <!-- directives -->
        <script type="text/javascript" src="/public/js/directives/headtabs.client.directives.js"></script>
        <script type="text/javascript" src="/public/js/directives/flatpickr.client.directives.js"></script>

    </body>
</html>
