<!DOCTYPE html>
<html>
    <head>
        <title>Sound Sport Surfaces</title>
    </head>
    <body>
        <form id="job" action="/api/jobs" method="post">
            Job Number: <input type="text" name="JOB_NUMBER"><br>
            Job Name: <input type="text" name="JOB_NAME"><br>
            Customer Name: <input type="text" name="CUSTOMER_NAME"><br>
            Customer Phone: <input type="text" name="CUSTOMER_PHONE"><br>
            Customer Email: <input type="text" name="CUSTOMER_EMAIL"><br>
            <input type="submit" value="Submit">
        </form>
        <br>
        <form id="emp" action="/api/emps" method="post">
            Employee Name: <input type="text" name="EMP_NAME"><br>
            Employee Phone: <input type="text" name="EMP_PHONE"><br>
            Employee Email: <input type="text" name="EMP_EMAIL"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
