<!DOCTYPE html>
<html>
    <head>
        <title>Employees - Sound Sport Surfaces</title>

        <link rel="stylesheet" href="/public/css/tables.css">

        <script type="text/javascript" src="/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/lib/angular-messages/angular-messages.min.js"></script>
    </head>
    <body ng-app="Database" ng-controller="EmpController">
        <div id="header">
            <h1>Employees</h1>
            <headtabs></headtabs>
        </div>
        <table class="data">
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
            <tr ng-repeat="emp in employees | orderBy : 'EMP_NAME'" ng-click="showEmp(emp.EMP_NAME)">
                <td>{{ emp.EMP_NAME }}</td>
                <td>{{ emp.EMP_PHONE }}</td>
                <td>{{ emp.EMP_EMAIL }}</td>
            </tr>
        </table>

        <!-- application -->
        <script type="text/javascript" src="/public/js/Services.js"></script>
        <script type="text/javascript" src="/public/js/Database.js"></script>

        <!-- services -->
        <script type="text/javascript" src="/public/js/services/job.service.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="/public/js/controllers/emps.client.controllers.js"></script>

        <!-- directives -->
        <script type="text/javascript" src="/public/js/directives/headtabs.client.directives.js"></script>
    </body>
</html>

