<!DOCTYPE html>
<html>
    <head>
        <title>Jobs - Sound Sport Surfaces</title>
        <script type="text/javascript" src="/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
    </head>
    <body ng-app="Database" ng-controller="JobController">
        <p>we're getting here</p>
        <table>
            <tr ng-repeat="job in jobs | orderBy:'-JOB_NUMBER'">
                <td>{{ job.JOB_NUMBER }}</td>
                <td>{{ job.JOB_NAME }}</td>
                <td>{{ job.CUSTOMER_NAME }}</td>
                <td>{{ job.CUSTOMER_PHONE }}</td>
                <td>{{ job.CUSTOMER_EMAIL }}</td>
            </tr>
        </table>

        <!-- application -->
        <script type="text/javascript" src="/public/js/Database.js"></script>

        <!-- services -->
        <script type="text/javascript" src="/public/js/services/job.service.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="/public/js/controllers/jobs.client.controllers.js"></script>
    </body>
</html>

