<!DOCTYPE html>
<html>
    <head>
        <title>Jobs - Sound Sport Surfaces</title>

        <link rel="stylesheet" type="text/css" href="/public/css/tables.css">

        <script type="text/javascript" src="/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/lib/moment/moment.js"></script>

    </head>
    <body ng-app="Database" ng-controller="JobController">
        <headtabs></headtabs>
        <div class="filters">
            <span>Job Number: <select ng-options="job as job.JOB_NUMBER for job in jobs" ng-model="focus.job"></select></span>
            <span>Customer: <input type="text" ng-Model="focus.customer" name="customer"></span>
            <span>From <input type="date" ng-Model="focus.time_start" name="date_start">
            to <input type="date" ng-Model="focus.time_end" name="date_end"></span>
        </div>
        <table class="data">
            <tr ng-repeat="job in jobs | filter: {JOB_NUMBER: focus.job.JOB_NUMBER} | filter: {CUSTOMER_NAME: focus.customer} | daterange : 'JOB_START' : focus.time_start : focus.time_end | orderBy:'-JOB_NUMBER'" ng-click="showJob(job.JOB_NUMBER)">
                <td>{{ job.JOB_NUMBER }}</td>
                <td>{{ job.JOB_NAME }}</td>
                <td>{{ job.CUSTOMER_NAME }}</td>
                <td>{{ job.CUSTOMER_PHONE }}</td>
                <td>{{ job.CUSTOMER_EMAIL }}</td>
            </tr>
        </table>

        <!-- application -->
        <script type="text/javascript" src="/public/js/Database.js"></script>

        <!-- configuration -->
        <script type="text/javascript" src="/public/js/config/route.client.config.js"></script>

        <!-- filters -->
        <script type="text/javascript" src="/public/js/filters/daterange.filters.client.js"></script>

        <!-- services -->
        <script type="text/javascript" src="/public/js/services/job.service.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="/public/js/controllers/jobs.client.controllers.js"></script>

        <!-- directives -->
        <script type="text/javascript" src="/public/js/directives/headtabs.client.directives.js"></script>

    </body>
</html>

