<!DOCTYPE html>
<html>
    <head>
        <title>Labor - Sound Sport Surfaces</title>
        <script type="text/javascript" src="/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
    </head>
    <body ng-app="Database" ng-controller="LaborController">
        <table>
            <tr ng-repeat="labor in labors">
                <td>{{ labor.JOB_ID }}</td>
                <td>{{ labor.EMP_ID }}</td>
                <td>{{ labor.TIME_START }}</td>
                <td>{{ labor.TIME_END }}</td>
                <td>{{ labor.LABOR_TYPE }}</td>
                <td>{{ labor.DESCRIPTION }}</td>
            </tr>
        </table>

        <!-- application -->
        <script type="text/javascript" src="/public/js/Database.js"></script>

        <!-- services -->
        <script type="text/javascript" src="/public/js/services/labor.service.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="/public/js/controllers/labor.client.controllers.js"></script>
    </body>
</html>

