<!DOCTYPE html>
<html>
    <head>
        <title>Labor - Sound Sport Surfaces</title>

        <link rel="stylesheet" href="/public/css/tables.css">
        <script type="text/javascript" src="/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/lib/moment/moment.js"></script>
    </head>
    <body ng-app="Database" ng-controller="LaborController">
        <headtabs></headtabs>
        Job Number: <select ng-options="job.JOB_NUMBER as job.JOB_NUMBER for job in jobs" ng-Model="focus.job" name="job"></select>
        Employee: <select ng-options="emp.EMP_NAME as emp.EMP_NAME for emp in employees" ng-Model="focus.emp" name="emp"></select>
        From <input type="date" ng-Model="focus.time_start" name="date_start"> 
        to <input type="date" ng-Model="focus.time_end" name="date_end">
        Trade: <select ng-options="trade.TRADE_NAME as trade.TRADE_NAME for trade in trades" ng-model="focus.CATEGORY"></select>
        Work: <select ng-options="work.WORK_NAME as work.WORK_NAME for work in works" ng-model="focus.SUBCATEGORY"></select>
        <button type="button" ng-click="saveQuery(filtered)">Save Query</button>
        <table class="data">
            <tr ng-repeat="labor in labors | filter : {JOB_ID: {JOB_NUMBER: focus.job }} | filter : {EMP_ID: {EMP_NAME: focus.emp }, CATEGORY: {TRADE_NAME: focus.CATEGORY}, SUBCATEGORY: {WORK_NAME: focus.SUBCATEGORY}} | daterange : 'TIME_START' : focus.time_start : focus.time_end | orderBy:'-TIME_START' as filtered">
                <td>{{ labor.JOB_ID.JOB_NUMBER }}</td>
                <td>{{ labor.EMP_ID.EMP_NAME }}</td>
                <td>{{ labor.TIME_START | date : 'shortDate' }} {{ labor.TIME_START | date : 'hh:mm' }}</td>
                <td>{{ labor.TIME_END | date : 'shortDate' }} {{ labor.TIME_END | date : 'hh:mm' }}</td>
                <td>{{ labor.HOURS }}</td>
                <td>{{ labor.CATEGORY.TRADE_NAME }} - {{ labor.SUBCATEGORY.WORK_NAME }}</td>
                <td>{{ labor.DESCRIPTION }}</td>
            </tr>
            <br>
            <tr ng-repeat="search in searches as queries">
                <td ng-show="search.job">Job Number: {{ search.job.JOB_NUMBER }}</td>
                <td ng-show="search.emp">Employee: {{ search.emp.EMP_NAME }}</td>
                <td ng-show="search.CATEGORY">Trade: {{ search.CATEGORY }}</td>
                <td ng-show="search.SUBCATEGORY">Work: {{ search.SUBCATEGORY }}</td>
                <td ng-show="search.time_start">From: {{ search.time_start | date : "short" }} to: {{ search.time_end | date : "short" }}</td>
                <td ng-show="search.HOURS">Hours: {{ search.HOURS }}</td>
            </tr>
            <tr ng-show="searches.length">
                <td>Total hours: {{ sumHours(queries) }}</td>
            </tr>
        </table>

        <!-- application -->
        <script type="text/javascript" src="/public/js/Services.js"></script>
        <script type="text/javascript" src="/public/js/Database.js"></script>

        <!-- filters -->
        <script type="text/javascript" src="/public/js/filters/daterange.filters.client.js"></script>

        <!-- services -->
        <script type="text/javascript" src="/public/js/services/job.service.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="/public/js/controllers/labor.client.controllers.js"></script>

        <!-- directives -->
        <script type="text/javascript" src="/public/js/directives/headtabs.client.directives.js"></script>
    </body>
</html>

