<!DOCTYPE html>
<html>
    <head>
        <title>Payroll - Sound Sport Surfaces</title>

        <link rel="stylesheet" href="/public/css/tables.css">

        <script type="text/javascript" src="/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/lib/angular-messages/angular-messages.min.js"></script>

        <script type="text/javascript" src="/lib/moment/moment.js"></script>
    </head>
    <body ng-app="Database" ng-controller="PayrollController">
        <headtabs></headtabs>
        Employee: <select ng-options="emp as emp for (emp, days) in employees" ng-Model="focus.emp" name="emp"></select>
        Period: from <input type="date" ng-Model="focus.time_start" name="date_start"> 
        to <input type="date" ng-Model="focus.time_end" name="date_end">
        <div>
            <h1>{{ focus.emp }}</h1>
            <table class="data" ng-repeat="day in employees[focus.emp]">
                <tr>
                    <td>{{ day.DAY }}</td>
                </tr>
                <tr ng-repeat="item in day.BILLABLE | orderBy: 'TIME_START'">
                    <td>{{ jobs[item.JOB_ID].JOB_NUMBER || jobs[item.JOB_ID_START].JOB_NUMBER }}<span ng-show="item.JOB_ID_END"> - {{ jobs[item.JOB_ID_END].JOB_NUMBER }}</span></td>
                    <td>{{ item.TIME_START }} - {{ item.TIME_END }}</td>
                    <td>{{ works[item.SUBCATEGORY].WORK_NAME || "Travel" }}</td>
                    <td>{{ item.DESCRIPTION || vehicles[item.VEHICLE_ID].VEHICLE_NAME }}</td>
                </tr>
            </table>
        </div>

        <!-- application -->
        <script type="text/javascript" src="/public/js/Services.js"></script>
        <script type="text/javascript" src="/public/js/Database.js"></script>

        <!-- filters -->
        <script type="text/javascript" src="/public/js/filters/daterange.filters.client.js"></script>

        <!-- services -->
        <script type="text/javascript" src="/public/js/services/job.service.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="/public/js/controllers/payroll.client.controllers.js"></script>

        <!-- directives -->
        <script type="text/javascript" src="/public/js/directives/headtabs.client.directives.js"></script>
    </body>
</html>

