<!DOCTYPE html>
<html>
    <head>
        <title>Payroll - Sound Sport Surfaces</title>
        <script type="text/javascript" src="/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/lib/moment/moment.js"></script>
    </head>
    <body ng-app="Database" ng-controller="PayrollController">
        Employee: <input type="text" ng-Model="focus.emp" name="emp">
        Period: from <input type="date" ng-Model="focus.time_start" name="date_start"> 
        to <input type="date" ng-Model="focus.time_end" name="date_end">
        <table>
            <tr ng-repeat="emp in employees | filter:focus.emp | orderBy:'EMP_NAME'">
                <td>{{ emp.employee }}</td>
                <td>{{ emp.hours }}</td>
                <td>{{ emp.wage }}</td>
                <td>{{ emp.paycheck }}</td>
            </tr>

        </table>

        <!-- application -->
        <script type="text/javascript" src="/public/js/Database.js"></script>

        <!-- filters -->
        <script type="text/javascript" src="/public/js/filters/daterange.filters.client.js"></script>

        <!-- services -->
        <script type="text/javascript" src="/public/js/services/job.service.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="/public/js/controllers/payroll.client.controllers.js"></script>
    </body>
</html>

