<!DOCTYPE html>
<html>
    <head>
        <title>Requests - Sound Sport Surfaces</title>

        <link rel="stylesheet" href="/public/css/tables.css">

        <script type="text/javascript" src="/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
    </head>
    <body ng-app="Database" ng-controller="ReqController">
        <headtabs></headtabs>
        <div ng-repeat="(name, emp) in requests">
            <h1>{{ name }}</h1>
            <form ng-repeat="req in emp | orderBy: '-DATE_CREATED'" ng-submit="requestFocus($index)">
                    <span><label ng-show="req.JOB_ID.JOB_NAME">Job: <input type="text" ng-show="req.JOB_ID.JOB_NAME" ng-model="select.JOB_ID" ng-value="req.JOB_ID.JOB_NUMBER"></label></span>
                    <span>Time in: {{ req.TIME_START }}</span>
                    <span>Time out: {{ req.TIME_END }}</span>
                    <span>Description: {{ req.DESCRIPTION }}</span>
                </tr>
            </form>
            <br>
        </div>

        <div id="request" ng-show="focus.request">
            <p>{{ focus.request._id }}</p>
        </div>

        <!-- application -->
        <script type="text/javascript" src="/public/js/Database.js"></script>

        <!-- services -->
        <script type="text/javascript" src="/public/js/services/job.service.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="/public/js/controllers/requests.client.controllers.js"></script>

        <!-- directives -->
        <script type="text/javascript" src="/public/js/directives/headtabs.client.directives.js"></script>
    </body>
</html>

