<!DOCTYPE html>
<html>
    <head>
        <title>Requests - Sound Sport Surfaces</title>

        <link rel="stylesheet" href="/public/css/tables.css">

        <script type="text/javascript" src="/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/lib/angular-messages/angular-messages.min.js"></script>

    </head>
    <body ng-app="Database" ng-controller="ReqController">
        <headtabs></headtabs>
        <div ng-repeat="(name, emp) in requests">
            <h1>{{ name }}</h1>
            <form ng-repeat="req in emp | orderBy: '-DATE_CREATED'" ng-submit="requestApprove(req._id)">
                <span ng-show="req.JOB_ID.JOB_NAME"><label>Job: <select ng-options="job._id as job.JOB_NUMBER for job in jobs" name="JOB_ID" ng-model="select[req._id].JOB_ID"></select></label></span>
                <span ng-show="req.LOCATION"><label>Location: <input type="text" ng-model="select[req._id].LOCATION" ng-value="req.LOCATION"></label></span>
                <span>Date: {{ select[req._id].TIME_START | date: "mm/dd/yyyy" }}</span>
                <span><label>Time in: <input type="time" name="TIME_START" ng-model="select[req._id].TIME_START"></label></span>
                <span><label>Time out: <input type="time" name="TIME_END" ng-model="select[req._id].TIME_END"></label></span>
                <span ng-show="req.JOB_ID.JOB_NAME"><label>Work: <select ng-options="work._id as work.WORK_NAME for work in works" name="SUBCATEGORY" ng-model="select[req._id].SUBCATEGORY"></select></label></span>
                <span><label>Vehicle: <select ng-options="vehicle._id as vehicle.VEHICLE_NAME for vehicle in vehicles" name="VEHICLE_ID" ng-model="select[req._id].VEHICLE_ID"></select></label></span>
                <span><label>Description: <input type="text" name="DESCRIPTION" ng-model="select[req._id].DESCRIPTION"></label></span>
                <input type="submit" value="Approve">
            </form>
            <br>
        </div>

        <div id="request" ng-show="focus.request">
            <p>{{ focus.request._id }}</p>
        </div>

        <!-- application -->
        <script type="text/javascript" src="/public/js/Services.js"></script>
        <script type="text/javascript" src="/public/js/Database.js"></script>

        <!-- services -->
        <script type="text/javascript" src="/public/js/services/job.service.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="/public/js/controllers/requests.client.controllers.js"></script>

        <!-- directives -->
        <script type="text/javascript" src="/public/js/directives/headtabs.client.directives.js"></script>
    </body>
</html>

