<!DOCTYPE html>
<html>
	<head>
		<title>- Sound Sport Surfaces</title>
		<script type="text/javascript" src="/lib/angular/angular.js"></script>
		<script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
		<script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
		<script type="text/javascript" src="/lib/angular-messages/angular-messages.min.js"></script>


        <script type="text/javascript" src="/lib/moment/moment.js"></script>
		<script type="text/javascript" src="/public/js/Services.js"></script>
		<script type="text/javascript" src="/public/js/Request.js"></script>
        <script type="text/javascript" src="/lib/flatpickr/dist/flatpickr.js"></script>
        <link rel="stylesheet" href="/lib/flatpickr/dist/flatpickr.css"></script>

	</head>
	<body ng-app="Request" ng-controller="RequestController">
		<form id="request" name="request" ng-submit="requestSubmit()" method="post" novalidate>
			<table>
				<tbody>
                    <tr><td><p>{{ select.TIME_START }}</p></td><td><p>{{ select.TIME_END }}</p></td></tr>
					<tr>
						<td>Job: </td>
						<td><select ng-options="job._id as job.JOB_NUMBER for job in jobs" name="JOB_ID" ng-model="select.JOB_ID"></select></td>
						<td>or Location: </td>
						<td><input type="text" name="LOCATION" ng-model="select.LOCATION"></td>
						<td ng-show="(request.JOB_ID.$touched || request.LOCATION.$touched) && (!select.JOB_ID && !select.LOCATION)">Choose a job or enter a location.</td>
					</tr>
					<tr ng-show="request.JOB_ID.$touched && (lastrequest.JOB_ID == select.JOB_ID)">
						<td>Vehicle: </td>
						<td><select ng-options="vehicle._id as vehicle.VEHICLE_NAME for vehicle in vehicles" name="VEHICLE" ng-model="select.VEHICLE_ID"></select></td>
						<td ng-show="request.EMP_NAME.$touched && request.EMP_NAME.$invalid">Select a vehicle.</td>
					</tr>
					<tr>
						<td>Start Time: </td>
                        <td><input flatpickr name="TIME_START" ng-model="select.TIME_START" required>
                        </td>
						<td>Stop Time: </td>
                        <td><input flatpickr name="TIME_END" ng-model="select.TIME_END" min="{{ select.TIME_START }}" required></td>
                        <td ng-messages="request.TIME_END.$error"><div ng-if="request.TIME_START.$dirty && request.TIME_END.$dirty" ng-message="timepickr">Time invalid.</div></td>
					</tr>
					<tr>
						<td>Work: </td>
						<td><select ng-options="work._id as work.WORK_NAME for work in works" ng-model="select.SUBCATEGORY" name="SUBCATEGORY" required></select></td>
					</tr>
					<tr>
						<td>Description: </td>
						<td><input type="text" name="DESCRIPTION" ng-model="select.DESCRIPTION"></td>
					</tr>
				</tbody>
			</table>
		    <input type="submit" value="Submit" ng-disabled="request.$invalid"><input type="button" value="Reset" ng-click="reset()"><span ng-show="message">{{ message }}</span>
		</form>

        <!-- directives -->
        <script type="text/javascript" src="/public/js/directives/flatpickr.client.directives.js"></script>

		<!-- services -->
		<script type="text/javascript" src="/public/js/services/job.service.js"></script>

		<!-- controllers -->
		<script type="text/javascript" src="/public/js/controllers/request.client.controllers.js"></script>

	</body>
</html>	
